<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="cerrar()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{producto.nombre | titlecase}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-label color="medium">{{producto.descripcion}}</ion-label>
    <ion-list *ngFor="let item of variables; let i = index">
        <ion-radio-group>
            <ion-list-header style="background: rgb(243, 212, 109);">
                <ion-label color="primary">{{item.titulo | titlecase}}</ion-label>
                <ion-badge color="primary" style="margin-right: 0.75rem;" *ngIf="item.obligatorio">Obligatorio</ion-badge>
            </ion-list-header>
            <ion-item *ngFor="let c of item.productos | keyvalue; let y = index">
                <ion-label>{{c.key | titlecase}}</ion-label>
                <ion-note slot="end">+{{c.value}}</ion-note>
                <ion-radio slot="end" color="primary" (ionChange)="radioSelected(i, y)"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>
    <ion-list>
        <ion-list-header style="background: rgb(243, 212, 109);">
            <ion-label color="primary">Agregar comentarios</ion-label>
        </ion-list-header>
        <ion-item>
            <ion-textarea placeholder="Agrega observaciones (especifica tus preferencias en los productos)"></ion-textarea>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button class="boton-cart" expand="block" color="primary" (click)="agregarProducto()" [disabled]="obligatorios > 0">
            <strong style="margin-right: 0.5rem;">Agregar:</strong> {{cuenta | currency:'CAD':'symbol-narrow':'1.0-0'}}
        </ion-button>
    </ion-toolbar>
</ion-footer>