$white: #FFFFFF;
$preload-image-bg: #f3f3f2;
$spinner-color: #a09f9f;
$spinner-size: 18px;
preload-image {
    position: relative;
    display: flex;
    width: 100%;
    margin: auto;
    background-color: $preload-image-bg;
    overflow: hidden;
    .pre {
        margin: auto;
        font-size: $spinner-size;
        color: $spinner-color;
    }
    ion-img {
        position: absolute;
        top: 0;
        left: 0;
        transition: visibility 0s linear, opacity .5s linear;
        opacity: 0;
        visibility: hidden;
        width: 100% !important;
        height: 100%;
    }
    &.img-loaded {
        background-color: transparent;
        border: 0;
        ion-img {
            opacity: 1;
            visibility: visible;
        }
        .pre {
            display: none;
            visibility: hidden;
        }
    }
}

// $white: #FFFFFF;
// $grey: #9e9e9e;
// // $preload-image-bg: rgba(darken($white, 10), .25);
// $preload-image-bg: transparent;
// $spinner-size: 28px;
// $spinner-color: #e0a331;
// preload-image {
//     display: block;
//     background-color: $preload-image-bg;
//     overflow: hidden;
//     position: relative;
//     width: 100%;
//     .spinner {
//         position: absolute;
//         top: calc(50% - #{ ($spinner-size/2) });
//         left: calc(50% - #{ ($spinner-size/2) });
//         width: $spinner-size;
//         height: $spinner-size;
//         font-size: $spinner-size;
//         line-height: $spinner-size;
//         color: $spinner-color;
//     }
//     ion-img {
//         position: absolute;
//         top: 0;
//         left: 0;
//         transition: visibility 0s linear, opacity .5s linear;
//         opacity: 0;
//         visibility: hidden;
//         width: 100% !important;
//         height: 100%;
//     }
//     &.img-loaded {
//         background-color: transparent;
//         border: 0;
//         ion-img {
//             opacity: 1;
//             visibility: visible;
//         }
//         .spinner {
//             display: none;
//             visibility: hidden;
//         }
//     }
// }