<ng-container *ngIf="!error; else errorTemplate">
    <ng-container *ngIf="infoReady; else infoTemplate">
        <ion-header *ngIf="portada" id="header">
            <ion-toolbar [appScrollVanish]="scrollArea">
                <ion-icon color="light" class="topleft" (click)="regresar()" name="arrow-back"></ion-icon>
                <img style="width: 100%;" [src]="portada" alt="">
            </ion-toolbar>
            <ion-toolbar [appTitleScrollVanish]="scrollArea">
                <ion-title color="primary" class="comfortaa">{{negocio.nombre}}</ion-title>
                <ion-buttons slot="end">
                    <ion-button fill="clear" (click)="verInfo()" class="comfortaa">
                        Ver más
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
            <ion-segment scrollable>
                <ion-segment-button (click)="resetProds()">
                    Todos
                </ion-segment-button>
                <ion-segment-button (click)="resetProds('Ofertas')" *ngIf="hasOfertas">
                    Ofertas
                </ion-segment-button>
                <ion-segment-button (click)="resetProds(item.nombre)" *ngFor="let item of pasillos.pasillos" class="ion-text-wrap">
                    {{item.nombre}}
                </ion-segment-button>
            </ion-segment>
        </ion-header>

        <ion-content #scrollArea scrollEvents="true" class="ion-padding">
            <ng-container *ngIf="cargandoProds; else cargandoTemp">
                <ion-item lines="none">
                    <ion-spinner style="margin: auto;" name="dots" color="primary"></ion-spinner>
                </ion-item>
            </ng-container>
            <ng-template #cargandoTemp>
                <!-- Vista de lista -->
                <div *ngIf="productos.length > 0" style="margin-bottom: 135px;">
                    <ng-container *ngIf="vista === 'lista'; else vistaTemplate">
                        <ion-card *ngFor="let item of productos; let i = index" style="width: 100%; margin: 0 auto 1rem auto; padding-bottom: 1rem;">
                            <ion-list-header style="--color: var(--ion-color-primary);">
                                <ion-label class="comfortaa">{{item.nombre | titlecase}}</ion-label>
                            </ion-list-header>
                            <ion-card *ngFor="let prod of item.productos; let y = index">
                                <ion-item style="--padding-start: 0" lines="none">
                                    <ion-grid fixed>
                                        <ion-row>
                                            <ion-col size="8">
                                                <ion-item lines="none">
                                                    <ion-label class="ion-text-wrap">
                                                        <h2>{{prod.nombre}}</h2>
                                                        <p style="font-size: 10pt; color:var(--ion-color-medium);">{{prod.descripcion}}</p>
                                                        <p style="font-size: 12pt; color:var(--ion-color-primary);">{{prod.precio | currency:'CAD':'symbol-narrow':'1.0-2'}}</p>
                                                    </ion-label>
                                                </ion-item>
                                            </ion-col>
                                            <ion-col size="4">
                                                <div class="border radius10 shadow">
                                                    <preload-image [ratio]="{w: 1, h: .75}" [src]="prod.url">
                                                    </preload-image>
                                                </div>
                                                <div style="margin-top: 0.5rem;">
                                                    <ng-container *ngIf="!prod.cantidad || prod.cantidad === 0 || !negocio.abierto; else botones">
                                                        <ion-button [disabled]="!negocio.abierto" expand="block" (click)="addProduct(prod, y)" class="boton-add" fill="clear" color="primary" size="small">
                                                            Agregar
                                                        </ion-button>
                                                    </ng-container>
                                                    <ng-template #botones>
                                                        <ion-button expand="block" class="boton-add" fill="clear" color="primary" size="small" style="--ripple-color: transparent">
                                                            <ion-grid fixed class="ion-no-padding">
                                                                <ion-row class="ion-no-padding">
                                                                    <ion-col class="ion-no-padding ion-align-self-center" size="3" (click)="minusProduct(prod, y)">
                                                                        -
                                                                    </ion-col>
                                                                    <ion-col class="ion-no-padding ion-align-self-center" size="6">
                                                                        <ion-input readonly="true" type="number" [(ngModel)]="prod.cantidad" [id]="y"></ion-input>
                                                                    </ion-col>

                                                                    <ion-col class="ion-no-padding ion-align-self-center" size="3" (click)="plusProduct(prod, y)">
                                                                        <strong>+</strong>
                                                                    </ion-col>
                                                                </ion-row>
                                                            </ion-grid>
                                                        </ion-button>
                                                    </ng-template>
                                                </div>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-item>
                            </ion-card>
                        </ion-card>
                    </ng-container>

                    <!-- Vista de bloque -->
                    <ng-template #vistaTemplate>
                        <div [id]="item.nombre" *ngFor="let item of productos; let i = index; let first = first">
                            <ion-item lines="none">
                                <h4 style="color: var(--ion-color-primary)" class="ion-text-wrap comfortaa">{{item.nombre | titlecase}}</h4>
                            </ion-item>
                            <div class="card-container">
                                <div class="card" *ngFor="let prod of item.productos; let y = index">
                                    <div class="border radius10 shadow">
                                        <preload-image [ratio]="{w: 1, h: .75}" [src]="prod.url" class="radius10 shadow">
                                        </preload-image>
                                    </div>
                                    <div class="product-name">
                                        <h6 class="ion-text-wrap">{{prod.nombre}}</h6>
                                    </div>
                                    <span style="color: var(--ion-color-medium); font-size: 13pt">
                                                {{prod.precio | currency:'CAD':'symbol-narrow':'1.0-2'}}
                                            </span> <br>
                                    <span style="color: var(--ion-color-medium); font-size: 12pt">
                                                {{prod.unidad}}
                                            </span><br>
                                    <div>
                                        <ng-container *ngIf="!prod.cantidad || prod.cantidad === 0 || !negocio.abierto; else botones">
                                            <ion-button [disabled]="!negocio.abierto" expand="block" (click)="addProduct(prod)" class="boton-add" fill="clear" color="primary" size="small">
                                                Agregar
                                            </ion-button>
                                        </ng-container>
                                        <ng-template #botones>
                                            <ion-button expand="block" class="boton-add" fill="clear" color="primary" size="small">
                                                <ion-grid fixed class="ion-no-padding">
                                                    <ion-row class="ion-no-padding">
                                                        <ion-col class="ion-no-padding ion-align-self-center" size="3" (click)="minusProduct(prod)">
                                                            -
                                                        </ion-col>
                                                        <ion-col class="ion-no-padding ion-align-self-center" size="6">
                                                            <ion-input readonly="true" type="number" [(ngModel)]="prod.cantidad"></ion-input>
                                                        </ion-col>
                                                        <ion-col class="ion-no-padding ion-align-self-center" size="3" (click)="plusProduct(prod)">
                                                            +
                                                        </ion-col>
                                                    </ion-row>
                                                </ion-grid>
                                            </ion-button>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>

                </div>
                <ion-item lines="none" style="text-align: center;">
                    <ion-label color="medium">No hay más resultados</ion-label>
                </ion-item>
            </ng-template>


            <ng-container *ngIf="pasilloFiltro; else elseTemplate">
                <ion-infinite-scroll threshold="100px" (ionInfinite)="loadDataListaFiltrada($event)">
                    <ion-infinite-scroll-content loadingSpinner="bubbles">
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </ng-container>
            <ng-template #elseTemplate>
                <ion-infinite-scroll threshold="100px" (ionInfinite)="loadDataLista($event)">
                    <ion-infinite-scroll-content loadingSpinner="bubbles">
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </ng-template>

        </ion-content>

        <app-no-network></app-no-network>

        <ion-footer>
            <ion-toolbar color="light">
                <ng-container *ngIf="negocio && negocio.abierto; else footOpenTemplate">
                    <ion-button class="boton-margen" expand="block" color="primary" (click)="verCuenta()" shape="round">
                        <strong style="margin-right: 0.5rem;">Ver Carrito:</strong> {{cuenta | currency:'CAD':'symbol-narrow':'1.0-0'}}
                    </ion-button>
                </ng-container>
                <ng-template #footOpenTemplate>
                    <ion-button class="boton-margen" expand="block" color="danger" fill="clear">
                        Negocio cerrado
                    </ion-button>
                    <ion-button class="boton-margen" expand="block" color="danger" (click)="verInfo()" shape="round">
                        Ver horario
                    </ion-button>
                </ng-template>

            </ion-toolbar>
        </ion-footer>
    </ng-container>
    <ng-template #infoTemplate>
        <ion-spinner class="spinner" name="dots"></ion-spinner>
    </ng-template>
</ng-container>
<ng-template #errorTemplate>
    <ion-content>
    </ion-content>
    <ion-footer>
        <ion-item class="boton-margen" lines="none" style="text-align: center; margin-top: 3rem;">
            <ion-label>
                <h2 class="ion-text-wrap">Lo sentimos, surgió un problema al cargar la información de este negocio.</h2>
            </ion-label>
        </ion-item>
        <ion-button class="boton-margen" (click)="reintentar()" expand="block" shape="round">
            Intenar de nuevo
        </ion-button>
        <ion-button (click)="regresar()" expand="block" fill="clear" shape="round">
            Regresar
        </ion-button>
    </ion-footer>
</ng-template>