<ng-container *ngIf="!error; else errorTemplate">
    <ng-container *ngIf="portada; else infoTemplate">
        <ion-header>
            <ion-toolbar [appScrollVanish]="scrollArea">
                <ion-icon color="light" class="topleft" (click)="regresar()" name="arrow-back"></ion-icon>
                <img style="width: 100%;" [src]="portada" alt="">
            </ion-toolbar>
            <ion-toolbar [appTitleScrollVanish]="scrollArea">
                <ion-title color="primary" class="comfortaa">{{negocio.nombre}}</ion-title>
                <ion-buttons slot="end">
                    <ion-button fill="clear" (click)="verInfo()" class="comfortaa">
                        Ver más
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
            <ion-segment scrollable>
                <ion-segment-button (click)="resetProds()">
                    Todos
                </ion-segment-button>
                <ion-segment-button (click)="resetProds('Ofertas')" *ngIf="hasOfertas">
                    Ofertas
                </ion-segment-button>
                <ion-segment-button (click)="resetProds(item.nombre)" *ngFor="let item of pasillos.pasillos" class="ion-text-wrap">
                    {{item.nombre}}
                </ion-segment-button>
            </ion-segment>
        </ion-header>

        <ion-content #scrollArea scrollEvents="true" class="ion-padding">
            <ng-container *ngIf="cargandoProds; else cargandoTemp">
                <ion-item lines="none">
                    <ion-spinner style="margin: auto;" name="dots" color="primary"></ion-spinner>
                </ion-item>
            </ng-container>
            <ng-template #cargandoTemp>
                <!-- Vista de lista -->
                <app-list-img [sections]="productos"></app-list-img>
                <ion-item lines="none" style="text-align: center;">
                    <ion-label color="medium">No hay más resultados</ion-label>
                </ion-item>
            </ng-template>


            <ng-container *ngIf="pasilloFiltro; else elseTemplate">
                <ion-infinite-scroll threshold="100px" (ionInfinite)="loadDataListaFiltrada($event)">
                    <ion-infinite-scroll-content loadingSpinner="bubbles">
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </ng-container>
            <ng-template #elseTemplate>
                <ion-infinite-scroll threshold="100px" (ionInfinite)="loadDataLista($event)">
                    <ion-infinite-scroll-content loadingSpinner="bubbles">
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </ng-template>

        </ion-content>

        <app-no-network></app-no-network>

        <ion-footer>
            <ion-toolbar color="light">
                <ng-container *ngIf="negocio && negocio.abierto; else footOpenTemplate">
                    <ion-button class="boton-margen" expand="block" color="primary" (click)="verCuenta()" shape="round" [disabled]="!cuenta">
                        <strong style="margin-right: 0.5rem;">Ver Carrito:</strong> {{cuenta | currency:'CAD':'symbol-narrow':'1.0-0'}}
                    </ion-button>
                </ng-container>
                <ng-template #footOpenTemplate>
                    <ion-button class="boton-margen" expand="block" color="danger" fill="clear">
                        Negocio cerrado
                    </ion-button>
                    <ion-button class="boton-margen" expand="block" color="danger" (click)="verInfo()" shape="round">
                        Ver horario
                    </ion-button>
                </ng-template>

            </ion-toolbar>
        </ion-footer>
    </ng-container>
    <ng-template #infoTemplate>
        <ion-spinner class="spinner" name="dots"></ion-spinner>
    </ng-template>
</ng-container>
<ng-template #errorTemplate>
    <ion-content>
    </ion-content>
    <ion-footer>
        <ion-item class="boton-margen" lines="none" style="text-align: center; margin-top: 3rem;">
            <ion-label>
                <h2 class="ion-text-wrap">Lo sentimos, surgió un problema al cargar la información de este negocio.</h2>
            </ion-label>
        </ion-item>
        <ion-button class="boton-margen" (click)="reintentar()" expand="block" shape="round">
            Intenar de nuevo
        </ion-button>
        <ion-button (click)="regresar()" expand="block" fill="clear" shape="round">
            Regresar
        </ion-button>
    </ion-footer>
</ng-template>