ion-segment-button {
    min-width: calc(100% / 3.5);
}

.topleft {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 18pt;
    background: #fb04044d;
    border-radius: 100%;
}

.boton-add {
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

$spinner-size: 45px;
$spinner-color: #e0a331;
.card {
    // border: lightgray solid 0.25px;
    width: 28vw;
    max-width: 28vw;
    display: inline-block;
    text-align: center;
    padding: .75rem;
    margin: 0;
    font-size: 11pt;
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    border: solid 2px #e6e5e3;
    border-radius: 10px;
}

.product-name {
    height: 75px;
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap;
}

.card-container {
    margin: auto;
    text-align: center;
    align-items: center;
}

.spinner {
    position: absolute;
    top: calc(50% - #{ ($spinner-size/2) });
    left: calc(50% - #{ ($spinner-size/2) });
    width: $spinner-size;
    height: $spinner-size;
    font-size: $spinner-size;
    line-height: $spinner-size;
    color: $spinner-color;
}

h2 {
    font-family: 'Comfortaa';
}