<ion-content>
    <div style="height: 100%; width: 100%">

        <ion-item class="profile" lines="none">
            <div style="position: relative;">
                <ion-menu-button></ion-menu-button>
            </div>
        </ion-item>
        <div class="relleno">

        </div>
        <div class="cuadro-opciones">
            <ion-card>
                <ion-item lines="none" detail class="item" (click)="presentMapa('pedidos')" [disabled]="!pedidos">
                    <ng-container *ngIf="mensajes; else msnTemplate">
                        <ion-label color="danger">Pedidos
                            <ion-icon color="danger" slot="start" name="paper-plane"></ion-icon>
                        </ion-label>
                    </ng-container>
                    <ng-template #msnTemplate>
                        <ion-label color="medium">Pedidos</ion-label>
                    </ng-template>
                    <ion-icon color="primary" slot="start" name="alarm"></ion-icon>
                    <ion-badge slot="end" *ngIf="pedidos" color="danger">{{pedidos}}</ion-badge>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item lines="none" detail class="item" (click)="presentMapa('registrados')">
                    <ion-label color="medium">Clientes registrados</ion-label>
                    <ion-icon color="primary" slot="start" name="contacts"></ion-icon>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item lines="none" detail class="item" (click)="setClienteAnonimo()">
                    <ion-label color="medium">Venta anónima</ion-label>
                    <ion-icon color="primary" slot="start" name="trending-up"></ion-icon>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item lines="none" detail class="item" (click)="scanCode()">
                    <ion-label color="medium">Escanear código de cliente</ion-label>
                    <ion-icon color="primary" slot="start" name="qr-scanner"></ion-icon>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item lines="none" detail class="item" (click)="presentGasto()">
                    <ion-label color="medium">Registrar gasto</ion-label>
                    <ion-icon color="primary" slot="start" name="trending-down"></ion-icon>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item lines="none" detail class="item" (click)="presentTelPrompt()">
                    <ion-label color="medium">Compartir app de cliente</ion-label>
                    <ion-icon color="primary" slot="start" name="logo-whatsapp"></ion-icon>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item lines="none" detail class="item" (click)="presentFinViaje()">
                    <ion-label color="medium">Terminar viaje</ion-label>
                    <ion-icon color="primary" slot="start" name="exit"></ion-icon>
                </ion-item>
            </ion-card>
        </div>
    </div>
</ion-content>