.foto {
    border-radius: 100%;
    border: solid 2px var(--ion-color-primary);
    margin: 1rem auto 0.5rem auto;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}