<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Historial</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-card class="card-shadow">
            <ion-item *ngFor="let item of historial" detail [routerLink]="'/mapa/' + item.id">
                <ion-thumbnail>
                    <img [src]="item.negocio.logo" />
                </ion-thumbnail>
                <ion-label color="medium">
                    <h2>{{item.negocio.nombreNegocio}}</h2>
                    <p>{{item.aceptado | date:'short'}}</p>
                    <ng-container *ngIf="item.entregado; else entregadoTemplate">
                        <p>Entregado</p>
                    </ng-container>
                    <ng-template #entregadoTemplate>
                        <p>Cancelado</p>
                    </ng-template>

                </ion-label>
            </ion-item>
        </ion-card>
    </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>