ion-content.background {
    --background: url(../../../assets/img/backgrounds/login-fondo.jpg) 0 0/100% 100% no-repeat;
    --webkit-background-size: cover;
}

.btn-face {
    margin-top: 2rem;
    margin-bottom: 1rem;
    --background: #3b5998;
}

.input-usuario {
    border: solid 1px #ff9238;
    border-radius: 15px;
    margin-bottom: 1rem;
}

.back-icon {
    margin-top: 1rem;
    margin-left: 1rem;
    color: #ff9238;
    font-size: 18pt;
    float: left;
}

.botones {
    text-align: center;
    width: 80%;
    margin: auto;
}

.mr-5 {
    margin-right: 5px;
}

.titulo {
    color: var(--ion-color-primary);
    box-shadow: 0 4px 8px 0 rgba(228, 139, 5, 0.15), 0 6px 20px 0 rgba(221, 126, 17, 0.1);
}