.contenido {
    width: 100%;
    height: 100;
}

.back-icon {
    margin-top: 1rem;
    margin-left: 1rem;
    color: #ff4f38;
    font-size: 18pt;
}

.img {
    margin: 2.5rem auto;
    width: 80% !important;
    height: auto;
}

.botones {
    text-align: center;
    width: 80%;
    margin: auto;
}

.mr-5 {
    margin-right: 5px;
}