<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="regresar()">
                <ion-icon color="primary" slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title color="primary">Entregar en:</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div style="margin-bottom: 1rem;">
        <ng-container *ngIf="dirReady; else elseTemplate">
            <ion-item lines="none">
                <ion-label style="text-align: center" class="ion-text-wrap">{{direccion.direccion}}</ion-label>
            </ion-item>
            <ion-button class="btn-change" shape="round" fill="outline" color="medium" (click)="cambiarDir()">
                Cambiar dirección
            </ion-button>
            <div class="marco">
                <agm-map style="height: 55vh" [latitude]="direccion.lat" [longitude]="direccion.lng" [disableDefaultUI]="true" [streetViewControl]="false" [zoom]="zoom">
                    <agm-marker [iconUrl]='{"url": icon,"scaledSize": {"height": 120, "width": 80}}' [latitude]="direccion.lat" [longitude]="direccion.lng" [animation]="'DROP'" (dragEnd)="guardaLoc($event)" [markerDraggable]="true"></agm-marker>
                </agm-map>
            </div>
        </ng-container>
        <ng-template #elseTemplate>
            <ion-item style="width: 80vw; margin-left: 10vw">
                <ion-label color="primary" position="stacked">Agrega la dirección de entrega
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input id="txtHome" type="text" [(ngModel)]="inputDir" name="direccion" placeholder="Ej. Independecia 16, Centro, Ojocaliente"></ion-input>
            </ion-item>
        </ng-template>
    </div>
</ion-content>

<ion-footer no-border *ngIf="dirReady">
    <ion-toolbar>
        <ion-button class="boton-margen" [disabled]="lejos || !direccion" (click)="setDireccion()" style="margin-top: 0.5rem" shape="round" expand="block">
            Aceptar
        </ion-button>
    </ion-toolbar>
</ion-footer>