<ion-header *ngIf="servicio">
    <ion-toolbar *ngIf="servicio.foto">
        <ion-icon color="light" class="topleft" (click)="regresar()" name="arrow-back"></ion-icon>
        <preload-image [ratio]="{w: 1, h: .6}" [src]="servicio.foto"></preload-image>
    </ion-toolbar>
    <ion-toolbar>
        <ion-buttons slot="start" *ngIf="!servicio.foto">
            <ion-button (click)="regresar()" color="primary">
                <ion-icon slot="start" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title color="primary">{{servicio.nombre | titlecase}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-label color="medium" style="text-align: center;">{{servicio.descripcion}}</ion-label>

</ion-content>