<div [ngSwitch]="promedio">
    <div *ngSwitchCase="0.1">
        <ion-icon color="warning" name="star-outline"></ion-icon>
        <ion-icon color="warning" name="star-outline"></ion-icon>
        <ion-icon color="warning" name="star-outline"></ion-icon>
        <ion-icon color="warning" name="star-outline"></ion-icon>
        <ion-icon color="warning" name="star-outline"></ion-icon>
    </div>
    <div *ngSwitchCase="0.5">
        <ion-icon color="warning" name="star-half"></ion-icon>
        <ion-icon color="warning" name="star-outline"></ion-icon>
        <ion-icon color="warning" name="star-outline"></ion-icon>
        <ion-icon color="warning" name="star-outline"></ion-icon>
        <ion-icon color="warning" name="star-outline"></ion-icon>
    </div>
    <div *ngSwitchCase="1">
        <ion-icon color="warning" name="star"></ion-icon>
        <ion-icon color="warning" name="star-outline"></ion-icon>
        <ion-icon color="warning" name="star-outline"></ion-icon>
        <ion-icon color="warning" name="star-outline"></ion-icon>
        <ion-icon color="warning" name="star-outline"></ion-icon>
    </div>
    <div *ngSwitchCase="1.5">
        <ion-icon color="warning" name="star"></ion-icon>
        <ion-icon color="warning" name="star-half"></ion-icon>
        <ion-icon color="warning" name="star-outline"></ion-icon>
        <ion-icon color="warning" name="star-outline"></ion-icon>
        <ion-icon color="warning" name="star-outline"></ion-icon>
    </div>
    <div *ngSwitchCase="2">
        <ion-icon color="warning" name="star"></ion-icon>
        <ion-icon color="warning" name="star"></ion-icon>
        <ion-icon color="warning" name="star-outline"></ion-icon>
        <ion-icon color="warning" name="star-outline"></ion-icon>
        <ion-icon color="warning" name="star-outline"></ion-icon>
    </div>
    <div *ngSwitchCase="2.5">
        <ion-icon color="warning" name="star"></ion-icon>
        <ion-icon color="warning" name="star"></ion-icon>
        <ion-icon color="warning" name="star-half"></ion-icon>
        <ion-icon color="warning" name="star-outline"></ion-icon>
        <ion-icon color="warning" name="star-outline"></ion-icon>
    </div>
    <div *ngSwitchCase="3">
        <ion-icon color="warning" name="star"></ion-icon>
        <ion-icon color="warning" name="star"></ion-icon>
        <ion-icon color="warning" name="star"></ion-icon>
        <ion-icon color="warning" name="star-outline"></ion-icon>
        <ion-icon color="warning" name="star-outline"></ion-icon>
    </div>
    <div *ngSwitchCase="3.5">
        <ion-icon color="warning" name="star"></ion-icon>
        <ion-icon color="warning" name="star"></ion-icon>
        <ion-icon color="warning" name="star"></ion-icon>
        <ion-icon color="warning" name="star-half"></ion-icon>
        <ion-icon color="warning" name="star-outline"></ion-icon>
    </div>
    <div *ngSwitchCase="4">
        <ion-icon color="warning" name="star"></ion-icon>
        <ion-icon color="warning" name="star"></ion-icon>
        <ion-icon color="warning" name="star"></ion-icon>
        <ion-icon color="warning" name="star"></ion-icon>
        <ion-icon color="warning" name="star-outline"></ion-icon>
    </div>
    <div *ngSwitchCase="4.5">
        <ion-icon color="warning" name="star"></ion-icon>
        <ion-icon color="warning" name="star"></ion-icon>
        <ion-icon color="warning" name="star"></ion-icon>
        <ion-icon color="warning" name="star"></ion-icon>
        <ion-icon color="warning" name="star-half"></ion-icon>
    </div>
    <div *ngSwitchCase="5">
        <ion-icon color="warning" name="star"></ion-icon>
        <ion-icon color="warning" name="star"></ion-icon>
        <ion-icon color="warning" name="star"></ion-icon>
        <ion-icon color="warning" name="star"></ion-icon>
        <ion-icon color="warning" name="star"></ion-icon>
    </div>
</div>