<ion-header>
    <ion-toolbar class="bg-class">
        <ion-buttons slot="start">
            <ion-button routerLink="/home">
                <ion-icon slot="start" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{categoria | titlecase}}</ion-title>
    </ion-toolbar>
    <ion-toolbar color="light">
        <ion-segment scrollable>
            <ion-segment-button *ngFor="let item of subCategorias" (click)="getNegociosSub(item)">
                <ion-label>{{item | titlecase}}</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let item of ofertas" (click)="irAOferta(item)">
            <preload-image [ratio]="{w: 1, h: .65}" [src]="item.foto">
            </preload-image>
        </ion-slide>
        <ion-slide *ngIf="hayMas" (click)="verOfertas()">
            <preload-image [ratio]="{w: 1, h: .65}" src="../../../assets/img/botones/verTodas.png">
            </preload-image>
        </ion-slide>
    </ion-slides>

    <ion-list>
        <ion-item detail *ngFor="let item of negocios" (click)="verNegocio(item)">
            <ng-container *ngIf="item.abierto; else openTemplate">
                <ion-thumbnail>
                    <img [src]="item.foto" />
                </ion-thumbnail>
                <ion-label style="margin-left: 0.5rem;">
                    <h2>{{item.nombre}}</h2>
                    <p *ngIf="item.rate" style="color: darkorange;">{{item.rate}}
                        <ion-icon slot="end" name="star"></ion-icon>
                    </p>
                </ion-label>
            </ng-container>
            <ng-template #openTemplate>
                <ion-thumbnail>
                    <img [src]="item.foto" style="opacity: 0.5;" />
                </ion-thumbnail>
                <ion-label style="margin-left: 0.5rem;" color="medium">
                    <h2>{{item.nombre}}</h2>
                    <p *ngIf="item.rate">{{item.rate}}
                        <ion-icon slot="end" name="star"></ion-icon>
                    </p>
                </ion-label>
                <ion-note slot="end">CERRADO</ion-note>
            </ng-template>

        </ion-item>
    </ion-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>