<ion-header>
    <ion-toolbar class="bg-class">
        <ion-buttons slot="start">
            <ion-button routerLink="/home">
                <ion-icon slot="start" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{categoria | titlecase}}</ion-title>
    </ion-toolbar>
    <ion-toolbar color="light">
        <ion-segment scrollable>
            <ion-segment-button *ngFor="let item of subCategorias" (click)="getNegociosSub(item)">
                <ion-label>{{item | titlecase}}</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<!-- Ofertas -->

<ion-content>
    <ng-container *ngIf="promosReady; else promoTemplate">
        <div *ngIf="ofertas.length > 0">
            <h2 style="margin-left: 1rem;">Promociones</h2>
            <ion-slides [options]="slideOpts">
                <ion-slide *ngFor="let item of ofertas" (click)="irAOferta(item)">
                    <preload-image [ratio]="{w: 1, h: 0.45}" [src]="item.foto" class="radius"></preload-image>
                </ion-slide>
                <ion-slide *ngIf="hayMas" (click)="verOfertas()">
                    <ion-img src="../../../assets/img/botones/verTodas.png"></ion-img>
                </ion-slide>
            </ion-slides>
        </div>
    </ng-container>
    <ng-template #promoTemplate>
        <ion-list>
            <ion-list-header>
                <ion-skeleton-text animated class="radius skeleton-titulo"></ion-skeleton-text>
            </ion-list-header>
            <ion-skeleton-text animated class="radius skeleton-oferta"></ion-skeleton-text>
        </ion-list>
    </ng-template>


    <!-- Lista negocios -->

    <ng-container *ngIf="promosReady && negociosReady; else negTemplate">
        <ng-container *ngIf="negocios.length > 0; else hayNegTemplate">
            <h2 style="margin-left: 1rem;">Recomendados para ti</h2>
            <ion-list>
                <ion-card *ngFor="let item of negocios" class="card-shadow">
                    <ion-item detail lines="none" (click)="verNegocio(item)">
                        <ng-container *ngIf="item.abierto; else openTemplate">
                            <ion-thumbnail>
                                <preload-image [ratio]="{w: 1, h: 1}" [src]="item.foto"></preload-image>
                            </ion-thumbnail>
                            <ion-label style="margin-left: 0.5rem;">
                                <h2>{{item.nombre}}</h2>
                                <p *ngIf="item.rate" style="color: darkorange;">{{item.rate}}
                                    <ion-icon slot="end" name="star"></ion-icon>
                                </p>
                            </ion-label>
                        </ng-container>
                        <ng-template #openTemplate>
                            <ion-thumbnail>
                                <preload-image [ratio]="{w: 1, h: 1}" [src]="item.foto" style="opacity: 0.5;"></preload-image>
                            </ion-thumbnail>
                            <ion-label style="margin-left: 0.5rem;" color="medium">
                                <h2>{{item.nombre}}</h2>
                                <p *ngIf="item.rate">{{item.rate}}
                                    <ion-icon slot="end" name="star"></ion-icon>
                                </p>
                            </ion-label>
                            <ion-badge color="primary" mode="ios">Cerrado</ion-badge>
                        </ng-template>
                    </ion-item>
                </ion-card>
            </ion-list>
        </ng-container>
        <ng-template #hayNegTemplate>
            <ion-item lines="none" style="text-align: center;">
                <ion-label color="medium" class="ion-text-wrap">No hay negocios en esta categoría por el momento</ion-label>
            </ion-item>
        </ng-template>
    </ng-container>
    <ng-template #negTemplate>
        <ion-list>
            <ion-list-header>
                <ion-skeleton-text animated class="radius skeleton-titulo"></ion-skeleton-text>
            </ion-list-header>
            <ion-item *ngFor="let item of [1,2,3,4,5,7,8,9,10]" lines="none">
                <ion-skeleton-text animated class="radius skeleton-item"></ion-skeleton-text>
            </ion-item>
        </ion-list>
    </ng-template>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>

<app-no-network></app-no-network>