.bg-class {
    --background: linear-gradient(197deg, rgb(248, 162, 3) 0%, rgb(235, 109, 6) 13.5%, rgb(246, 142, 6) 33.33%, rgb(250, 82, 3) 100%) !important;
    color: white;
}

ion-thumbnail {
    width: 10vw;
    height: auto;
    margin-right: 0.5rem;
}