<ion-header>
    <ion-toolbar class="bg-class">
        <ng-container *ngIf="uid; else menuTemplate">
            <ion-buttons slot="start">
                <ion-menu-button color="light"></ion-menu-button>
            </ion-buttons>
        </ng-container>
        <ng-template #menuTemplate>
            <ion-buttons slot="start">
                <ion-button (click)="login()">
                    Iniciar sesión
                    <ion-icon slot="start" name="log-in"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ng-template>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="pedidos.length > 0">
        <ion-list-header>
            <ion-label>Pedidos activos</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let item of pedidos" detail [routerLink]="'/mapa/' + item.id">
            <ion-label color="medium">{{item.negocio.nombreNegocio}}</ion-label>
            <ion-badge color="primary" *ngIf="item.unRead > 0">{{item.unRead}}</ion-badge>
        </ion-item>
    </ion-list>

    <ion-slides [options]="slideOpts" *ngIf="ofertas.length > 0">
        <ion-slide *ngFor="let item of ofertas" (click)="irAOferta(item)">
            <preload-image [ratio]="{w: 1, h: .65}" [src]="item.foto">
            </preload-image>
        </ion-slide>
        <ion-slide *ngIf="hayMas" (click)="verOfertas()">
            <preload-image [ratio]="{w: 1, h: .65}" src="../../../assets/img/botones/verTodas.png">
            </preload-image>
        </ion-slide>
    </ion-slides>

    <ion-slides #slideCat [options]="slideCategoriaOpts" (ionSlideDidChange)="ionSlideDidChange($event)">
        <ion-slide *ngFor="let item of categorias; let i = index" style="background: gre;">
            <ion-img [src]="item.foto" [class]="item.clase"></ion-img>
        </ion-slide>
        <ion-slide>
            <ion-img src="../../assets/img/categorias/basicos.png" class="activo"></ion-img>
        </ion-slide>
        <ion-slide *ngFor="let item of categorias; let i = index">
            <ion-img [src]="item.foto" [class]="item.clase"></ion-img>
        </ion-slide>
    </ion-slides>


    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <img src="../../assets/img/categorias/restaurantes.png" routerLink="/categoria/restaurantes" alt="">
            </ion-col>
            <ion-col size="6">
                <img src="../../assets/img/categorias/basicos.png" routerLink="/categoria/basicos" alt="">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="3">
                <img src="../../assets/img/categorias/abarrotes.png" routerLink="/categoria/abarrotes" alt="">
            </ion-col>
            <ion-col size="3">
                <img src="../../assets/img/categorias/salud.png" routerLink="/categoria/salud" alt="">
            </ion-col>
            <ion-col size="3">
                <img src="../../assets/img/categorias/belleza.png" routerLink="/categoria/belleza" alt="">
            </ion-col>
            <ion-col size="3">
                <img src="../../assets/img/categorias/tecnologia.png" routerLink="/categoria/tecnologia" alt="">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="3">
                <img src="../../assets/img/categorias/viajes.png" routerLink="/categoria/viajes" alt="">
            </ion-col>
            <ion-col size="3">
                <img src="../../assets/img/categorias/automotriz.png" routerLink="/categoria/automotriz" alt="">
            </ion-col>
            <ion-col size="3">
                <img src="../../assets/img/categorias/moda.png" routerLink="/categoria/moda" alt="">
            </ion-col>
            <ion-col size="3">
                <img src="../../assets/img/categorias/ferreteria.png" routerLink="/categoria/ferreteria" alt="">
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>