<ion-content>
    <div class="profile">
        <ng-container *ngIf="uid; else menuTemplate">
            <ion-menu-button color="light"></ion-menu-button>
        </ng-container>
        <ng-template #menuTemplate>
            <ion-buttons slot="start">
                <ion-button (click)="login()">
                    Iniciar sesión
                    <ion-icon slot="start" name="log-in"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ng-template>

    </div>
    <div class="cuadro-opciones">

    </div>
    <ion-list *ngIf="pedidos.length > 0" class="boton-margen">
        <ng-container *ngIf="verPedidos; else pedidosTemplate">
            <ion-button (click)="verPedidos = false" expand="block" fill="outline" shape="round">
                Ocultar
                <ion-icon name="arrow-up" mode="ios"></ion-icon>
            </ion-button>
        </ng-container>
        <ng-template #pedidosTemplate>
            <ion-button (click)="verPedidos = true" expand="block" fill="outline" shape="round">
                <ion-badge color="primary" style="margin-right: 1.5rem;">{{pedidos.length}}</ion-badge>
                Ver pedidos en curso
                <ion-icon name="arrow-down" mode="ios"></ion-icon>
            </ion-button>
        </ng-template>

        <div *ngIf="verPedidos">
            <ion-item *ngFor="let item of pedidos" detail [routerLink]="'/mapa/' + item.id">
                <ion-label color="medium">{{item.negocio.nombreNegocio}}</ion-label>
                <ion-badge color="primary" *ngIf="item.unRead > 0">{{item.unRead}}</ion-badge>
            </ion-item>
        </div>
    </ion-list>

    <ion-slides [options]="slideOpts" *ngIf="ofertas.length > 0">
        <ion-slide *ngFor="let item of ofertas" (click)="irAOferta(item)">
            <preload-image [ratio]="{w: 1, h: .65}" [src]="item.foto">
            </preload-image>
        </ion-slide>
        <ion-slide *ngIf="hayMas" (click)="verOfertas()">
            <preload-image [ratio]="{w: 1, h: .65}" src="../../../assets/img/botones/verTodas.png">
            </preload-image>
        </ion-slide>
    </ion-slides>

    <ion-slides [options]="sld" style="margin-bottom: 2rem;">
        <ion-slide *ngFor="let item of categorias; let i = index" (click)="irACategoria(item.categoria)">
            <ion-img [src]="item.foto"></ion-img>
        </ion-slide>
    </ion-slides>
</ion-content>