<ion-content>
    <div class="profile">
        <ng-container *ngIf="uid; else menuTemplate">
            <ion-buttons slot="start">
                <ion-menu-button color="light"></ion-menu-button>
            </ion-buttons>
        </ng-container>
        <ng-template #menuTemplate>
            <ion-buttons slot="start">
                <ion-button (click)="login()" color="light" style="margin-bottom: 1rem;">
                    Iniciar sesión
                    <ion-icon slot="start" name="log-in"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ng-template>
    </div>
    <div class="cuadro-opciones">
        <ion-item style="text-align: center;">
            <ion-input [(ngModel)]="busqueda" type="text" placeholder="Busca servicios o productos"></ion-input>
            <ion-icon slot="end" name="search" color="primary" (click)="buscar()"></ion-icon>
        </ion-item>
    </div>

    <!-- Busqueda -->

    <ion-grid fixed *ngIf="negMatch.length > 0">
        <ion-row>
            <ion-col size="8">
                <h2 style="margin-left: 1rem;">Resultados búsqueda</h2>
            </ion-col>
            <ion-col size="4" (click)="resetBusqueda()" class="ion-align-self-center">
                <ion-label color="primary" style="font-size: smaller; float: right; margin-right: 0.5rem;">Limpiar</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-list *ngIf="negMatch.length > 0">
        <ion-card *ngFor="let item of negociosBusqueda" class="card-shadow">
            <ng-container *ngIf="item.abierto; else searchTemplate">
                <ion-item detail lines="none" (click)="verProducto(item)">
                    <ion-thumbnail>
                        <preload-image [ratio]="{w: 1, h: 1}" [src]="item.foto"></preload-image>
                    </ion-thumbnail>
                    <ion-label color="medium" style="margin-left: 0.5rem;">{{item.nombre}}
                    </ion-label>
                </ion-item>
            </ng-container>
            <ng-template #searchTemplate>
                <ion-item detail lines="none" (click)="verProducto(item)">
                    <ion-thumbnail>
                        <preload-image [ratio]="{w: 1, h: 1}" [src]="item.foto" style="opacity: 0.5;"></preload-image>
                    </ion-thumbnail>
                    <ion-label color="medium" style="margin-left: 0.5rem;">{{item.nombre}}
                    </ion-label>
                    <ion-badge color="primary">Cerrado</ion-badge>
                </ion-item>
            </ng-template>

        </ion-card>
    </ion-list>

    <!-- Categorias -->

    <ng-container *ngIf="catsReady; else Template">
        <ion-grid fixed *ngIf="categorias.length > 0">
            <ion-row>
                <ion-col size="8">
                    <h2 style="margin-left: 1rem;">Categorías</h2>
                </ion-col>
                <ion-col size="4" (click)="verCategorias()" class="ion-align-self-center">
                    <ion-label color="primary" style="font-size: smaller; float: right; margin-right: 0.5rem;">Ver todas</ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-slides [options]="sld">
            <ion-slide *ngFor="let item of categorias; let i = index" (click)="irACategoria(item.categoria)">
                <ion-img [src]="item.foto"></ion-img>
            </ion-slide>
        </ion-slides>
    </ng-container>
    <ng-template #Template>
        <ion-list>
            <ion-list-header>
                <ion-skeleton-text animated style="width: 80px; height: 1rem; margin-left: 1rem;"></ion-skeleton-text>
            </ion-list-header>
            <ion-grid fixed>
                <ion-row>
                    <ion-col size="4" *ngFor="let item of [1,2,3]">
                        <ion-skeleton-text animated style="width: 100%; height: 7rem"></ion-skeleton-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>
    </ng-template>


    <!-- Pedidos -->

    <div *ngIf="pedidosReady && catsReady">
        <h2 style="margin-left: 1rem;" *ngIf="pedidos.length > 0">Pedidos</h2>
        <ion-list>
            <ng-container *ngIf="!verPedidos; else pedidosTemplate">
                <ion-item *ngIf="pedidos.length > 0" [routerLink]="'/mapa/' + pedidos[0].id" detail>
                    <ion-label color="medium">{{pedidos[0].negocio.nombreNegocio}}</ion-label>
                    <ion-badge color="primary" *ngIf="pedidos[0].unRead > 0">{{pedidos[0].unRead}}</ion-badge>
                </ion-item>
                <ion-item *ngIf="pedidos.length > 1" [routerLink]="'/mapa/' + pedidos[1].id" detail>
                    <ion-label color="medium">{{pedidos[1].negocio.nombreNegocio}}</ion-label>
                    <ion-badge color="primary" *ngIf="pedidos[1].unRead > 0">{{pedidos[1].unRead}}</ion-badge>
                </ion-item>
                <ion-item *ngIf="pedidos.length > 2" (click)="verPedidos = true">
                    <ion-label color="medium" slot="end">Ver más
                        <ion-icon style="margin-left: 0.5rem;" name="arrow-down" mode="ios"></ion-icon>
                    </ion-label>
                </ion-item>
            </ng-container>
            <ng-template #pedidosTemplate>
                <ion-item *ngFor="let item of pedidos" detail [routerLink]="'/mapa/' + item.id">
                    <ion-label color="medium">{{item.negocio.nombreNegocio}}</ion-label>
                    <ion-badge color="primary" *ngIf="item.unRead > 0">{{item.unRead}}</ion-badge>
                </ion-item>
                <ion-item (click)="verPedidos = false">
                    <ion-label color="medium" slot="end">Ocultar
                        <ion-icon style="margin-left: 0.5rem;" name="arrow-up" mode="ios"></ion-icon>
                    </ion-label>
                </ion-item>
            </ng-template>

        </ion-list>
    </div>

    <!-- Ofertas -->
    <ng-container *ngIf="pedidosReady && catsReady && promosReady; else promoTemplate">
        <ion-grid fixed *ngIf="ofertas.length > 0">
            <ion-row>
                <ion-col size="8">
                    <h2 style="margin-left: 1rem;">Promociones</h2>
                </ion-col>
                <ion-col size="4" *ngIf="hayMas" (click)="verOfertas()" class="ion-align-self-center">
                    <ion-label color="primary" style="font-size: smaller; float: right; margin-right: 0.5rem;">Ver todas</ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-slides [options]="slideOpts" *ngIf="ofertas.length > 0">
            <ion-slide *ngFor="let item of ofertas" (click)="irAOferta(item)">
                <preload-image [ratio]="{w: 1, h: 0.45}" [src]="item.foto" class="radius"></preload-image>
            </ion-slide>
            <ion-slide *ngIf="hayMas" (click)="verOfertas()">
                <ion-img src="../../../assets/img/botones/verTodas.png"></ion-img>
            </ion-slide>
        </ion-slides>
    </ng-container>
    <ng-template #promoTemplate>
        <ion-list>
            <ion-list-header>
                <ion-skeleton-text animated style="width: 80px; height: 1rem; margin-left: 1rem;"></ion-skeleton-text>
            </ion-list-header>
            <ion-skeleton-text animated class="radius skeleton-oferta"></ion-skeleton-text>
        </ion-list>
    </ng-template>


    <!-- + visitados por ti -->


    <div *ngIf="pedidosReady && catsReady && promosReady && catsReady && visitadosReady">
        <h2 style="margin-left: 1rem;" *ngIf="negociosVisitados.length > 0">+ Visitados por ti</h2>
        <ion-list>
            <ion-card *ngFor="let item of negociosVisitados" class="card-shadow">
                <ion-item detail lines="none" (click)="verProducto(item)">
                    <ng-container *ngIf="item.abierto; else visitadosOpen">
                        <ion-thumbnail>
                            <preload-image [ratio]="{w: 1, h: 1}" [src]="item.foto"></preload-image>
                        </ion-thumbnail>
                        <ion-label style="margin-left: 0.5rem;">
                            <h2>{{item.nombre}}</h2>
                        </ion-label>
                    </ng-container>
                    <ng-template #visitadosOpen>
                        <ion-thumbnail>
                            <preload-image [ratio]="{w: 1, h: 1}" [src]="item.foto" style="opacity: 0.5;"></preload-image>
                        </ion-thumbnail>
                        <ion-label style="margin-left: 0.5rem;" color="medium">
                            <h2>{{item.nombre}}</h2>
                        </ion-label>
                        <ion-badge color="primary" mode="ios">Cerrado</ion-badge>
                    </ng-template>
                </ion-item>
            </ion-card>
        </ion-list>
    </div>

    <!-- + Populares -->

    <div *ngIf="pedidosReady && catsReady && promosReady && catsReady && visitadosReady && popularesReady">
        <h2 style="margin-left: 1rem;" *ngIf="negociosPopulares.length > 0">Los más populares</h2>
        <ion-list>
            <ion-card *ngFor="let item of negociosPopulares" class="card-shadow">
                <ion-item detail lines="none" (click)="verProducto(item)">
                    <ng-container *ngIf="item.abierto; else popularesOpen">
                        <ion-thumbnail>
                            <preload-image [ratio]="{w: 1, h: 1}" [src]="item.foto"></preload-image>
                        </ion-thumbnail>
                        <ion-label style="margin-left: 0.5rem;">
                            <h2>{{item.nombre}}</h2>
                        </ion-label>
                    </ng-container>
                    <ng-template #popularesOpen>
                        <ion-thumbnail>
                            <preload-image [ratio]="{w: 1, h: 1}" [src]="item.foto" style="opacity: 0.5;"></preload-image>
                        </ion-thumbnail>
                        <ion-label style="margin-left: 0.5rem;" color="medium">
                            <h2>{{item.nombre}}</h2>
                        </ion-label>
                        <ion-badge color="primary" mode="ios">Cerrado</ion-badge>
                    </ng-template>
                </ion-item>
            </ion-card>
        </ion-list>
    </div>

    <!-- + vendidos -->

    <div *ngIf="pedidosReady && catsReady && promosReady && catsReady && visitadosReady && popularesReady && vendidosReady">
        <h2 style="margin-left: 1rem;" *ngIf="masVendidos.length > 0">Lo más vendido</h2>
        <ion-list>
            <ion-card *ngFor="let item of masVendidos" class="card-shadow">
                <ion-item (click)="verProducto(item)" style="--padding-start: 0" detail lines="none">
                    <ion-grid fixed>
                        <ion-row>
                            <ion-col size="8">
                                <ion-item lines="none">
                                    <ion-label class="ion-text-wrap">
                                        <h2 style="color: var(--ion-color-primary);">{{item.nombre}}</h2>
                                        <h3>{{item.nombreNegocio}}</h3>
                                        <p style="font-size: 10pt; color:var(--ion-color-medium);">{{item.descripcion}}</p>
                                        <p style="font-size: 12pt; color:var(--ion-color-primary);">{{item.precio | currency:'CAD':'symbol-narrow':'1.0-2'}}</p>
                                    </ion-label>
                                </ion-item>
                            </ion-col>
                            <ion-col size="4" class="ion-align-self-center">
                                <div class="border radius10 shadow">
                                    <preload-image [ratio]="{w: 1, h: .75}" [src]="item.url">
                                    </preload-image>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-card>
        </ion-list>
    </div>

</ion-content>