.bg-class {
    --background: linear-gradient(197deg, rgb(248, 162, 3) 0%, rgb(235, 109, 6) 13.5%, rgb(246, 142, 6) 33.33%, rgb(250, 82, 3) 100%) !important;
    color: white;
}

.cuadro-opciones {
    height: 3rem;
    width: 90vw;
    margin-left: 5vw;
    margin-top: -1.5rem;
    border-radius: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    background: white;
    z-index: 20;
    overflow: hidden;
}

.profile {
    margin-top: 0vh;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    --background: var(--ion-color-primary);
    background: var(--ion-color-primary);
}

.top-right {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1;
}

.header {
    border-radius: 500px;
    border: solid rgb(235, 109, 6) 3px;
}