<div *ngFor="let item of sections; let i = index" [style.display]="item.productos && item.productos.length > 0 ? 'initial' : 'none'">
    <ion-item lines="none">
        <h6 class="ion-text-wrap primario">{{item.nombre | titlecase}}</h6>
    </ion-item>
    <ion-card>
        <ion-item *ngFor="let serv of item.productos; let y = index" style="--padding-start: 0; cursor: pointer;" detail (click)="presentProduct(serv)">
            <ion-item lines="none">
                <h6 class="ion-text-wrap">{{serv.nombre}}</h6>
            </ion-item>
        </ion-item>
    </ion-card>
</div>