<div *ngFor="let item of sections; let i = index; trackBy: trackSections" [style.display]="item.productos && item.productos.length > 0 ? 'initial' : 'none'">
    <ion-item lines="none">
        <h6 class="ion-text-wrap primario">{{item.nombre | titlecase}}</h6>
    </ion-item>
    <ion-grid class="ion-no-padding">
        <ion-row>
            <ion-col size="4" *ngFor="let prod of item.productos; trackBy: trackProducts">
                <preload-image [ratio]="{w: 1, h: .75}" [src]="prod.url" class="shadow" (click)="presentProduct(prod)" style="cursor: pointer; background: white;">
                </preload-image>
                <div class="triangle-topleft" *ngIf="prod.agregados"></div>
                <div class="badge">{{prod.agregados}}</div>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>